#img
{
    margin-left: 7px;
    margin-top: 7px;
    height: 200px;
    width: 250;
}
.nb
{
    margin-right: 20px;
    padding-top: 50px;
    padding-left: 20px;    
}


.con
{
    margin-top: 150px;
    margin-left: auto;
}
#head
{
    padding-left: 100px;
    font-weight: bolder;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    /* color: rgb(0, 102, 255); */
}
#head2
{
    padding-left: 100px;
    text-align: justify;
    font-weight: bolder;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: rgb(0, 102, 255);
}
.title
{
    font-weight: 900;
    padding-left: 70px;
    font-size: 70px;
}
#paraa
{
   font-weight: 450; 
   padding-top: 550;
   padding-left: 80px;
   font-size: 20px;
   width: 700px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: justify;
   
}
.rgt
{
    padding-right: 100px;
}
.row2
{
    padding-top: 10px;
    column-gap: 2px;
}
.cont
{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px 0px 0px 0px;
}
.underline 
{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.png
{
    padding-top: 20px;

}
.me
{
    padding-right: 20px;
}

.img
{
    height: 730px;
    width: 700px;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-wrapper
{
    display: flex;
    justify-content:flex-start;
    background: #5b66ffd7;
    overflow: hidden;
}

h1{
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(21, 24, 21);
    white-space: nowrap;
    padding: 0.3rem 0.3rem;
    letter-spacing: 3px;
    animation: move-rtl 6000ms linear infinite
}

@keyframes move-rtl{
    0%{
        transform:  translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }

}

#ig
{
    height: 830px;
    width: 1640px;
}

.dropdown
{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul{
    list-style: none;
    /* background: rgb(190, 248, 248); */

}

ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li
{
    display: block;
}
ul li ul.dropdown
{
    width: 100%;
    background: #bebebe;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover
{
    background: #fde4ac;
}
ul li:hover ul.dropdown{
    display: block;
}

.progress-bar
{
    color: rgb(0, 0, 0);
    background-color: rgb(99, 162, 255);
}
.heads
{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding-top: 50px;
}

.heads2
{
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}
.pbg{
 background-color: rgb(192, 216, 255);
 border-radius: 2px;
 width: 70%;
 align-content: center;
 border: solid rgb(186, 190, 241) 2px;
}
.resume
{
    font-weight: bold;
    text-align: center;
    
}
.bun
{
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding-top: 50px;
    padding-left: 100px;
    margin-top: 480px;
}
.bun img
{
    width: 300px;
    height: 200px;
}
.bun .btn
{
    position: absolute ;
    top: 80%;
    left: 33%;
    /* transform: translate(10%,); */
    background: linear-gradient();
    cursor: grab;
    border-radius: 5px;
    
}
.skills
{
    padding-top: 50px;
}



.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #92baff;
    --color: #000000;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  .container
  {
    padding-top: 30px;
  }
  .down{
    margin-left:  515px ;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;

  }
  #footer
  {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .footer
  {
    font-size: 35px;
    padding-bottom: 20px;
    background-color: #fff;
    padding-top: 30px;
    /* width: 500px; */
    text-align: center;
    padding: 50px;
  }
.email
{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 500;
    background-color:  rgb(248, 239, 213);
    border-radius: none;
    border: solid rgba(24, 24, 24, 0.534);
    margin-bottom: 20px;
}
.btnn
{
    width:100%;
    height: 50px;
    font-size: 30px;
    /* background-color:rgb(99, 162, 255); */
    color: #030303;
}


.btnn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: rgb(61, 61, 61);
    z-index: 1;
    font-weight: 900;
  }
  
  .btnn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btnn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btnn:hover {
    color: #ffffff;
    border: 1px solid #3958bd;
  }
  
  .btnn:hover:before {
    top: -35%;
    background-color: #4639bd;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .btnn:hover:after {
    top: -45%;
    background-color: #3963bd;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .card 
{
        width: fit-content;
        height: fit-content;
        background-color:  rgb(255, 238, 217);
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 10px 10px; */
        gap: 10px;
        /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
        flex-direction: row; 
        margin-left: 75%;
}
      
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* Behance*/
  .containerThree:hover {
    background-color: #053eff;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerFour:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFive:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* 
.img {
  --s: 100px; 
  --c1: #f8b195;
  --c2: #355c7d;
  border-radius: 80px;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
} */

.subscribe {
  position: relative;
  height: 200px;
  width: 700px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 4px;
  color: #3927e0;
  /* box-shadow: 0px 10px 60px 5px rgba(0, 0, 0, 0); */
  margin-left: 750px;
  margin-top: 300px;
  border: #e6e1ff solid 2px;
}

/* .subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
} */

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: rgb(99, 162, 255);
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}
.card3
{
  height: 100px;
  width: 200px;
}

.card2 {
  margin-top: 50px;
  margin-left: 20px;
  width: 190px;
  height: 254px;
  background: rgb(219, 225, 255);
  border-radius: 50px;
  box-shadow: rgba(56, 69, 255, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
#brand
{
  /* color:  rgb(99, 162, 255); */
  color:  rgb(255, 238, 0);
  /* -webkit-text-stroke: #000000 0.8px; */
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card9 {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card9 > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card9 > .row > .icon {
  background: rgb(99, 162, 255);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card9 > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #e5ff00;
  -webkit-text-stroke: 0.2px #000000;
  font-weight: 500;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.brand
{
  text-align: center;
  padding-top: 80px;
  font-size: 30px;

}

.card9[for="c1"] {
  background-image: url('Beer\ Poster\ Mockup.png');
}
.card9[for="c2"] {
  background-image: url('Brochure\ Mockup.png');
}
.card9[for="c3"] {
  background-image: url('Envelope\ mockup.png');
}
.card9[for="c4"] {
  background-image: url('Hoarding\ Mockup.png');
}
.card9[for="c5"] {
  background-image: url('Letter\ head\ Mockup.png');
}
.card9[for="c6"] {
  background-image: url('Magazine\ Mockup.png');
}
.card9[for="c7"] {
  background-image: url('Rollup\ Mockup.png');
}
.card9[for="c8"] {
  background-image: url('Shop\ Logo\ Mockup.png');
}
.card9[for="c9"] {
  background-image: url('T-shirt\ mock\ up.png');
}

